
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: #e8e9eb;
  margin: 0 !important;
  padding: 0 !important;
}

p {
  font-size: 14px;
  display: block;
}

p.op {
  color: #aaa;
  text-align: right;
}

p.fo {
  text-decoration : none;
   color : white;
}

p.fo:hover {
  color: #aaa;
}

p.fo1 {
  text-decoration : none;
   color : black;
   padding-left: 10px;
}

p.fo1:hover {
  color: #aaa;
}

p.fo2 {
  text-decoration : none;
   color : chocolate;
   padding-left: 5px;
}

p.fo2:hover {
  color: red;
}


/* Header/Blog Title */
.header {
  padding: 15px;
  font-size: 40px;
  text-align: center;
  background: black;
  margin: 0 auto;
  box-shadow: 0px 5px darkgray;

}

.icon1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 30px;
}

.icon1:hover{
  color: dimgray;
}

.navbar {
  background-color: black;
  overflow: auto;
  padding-left: 22px;
  margin: 0 auto;
}

.navbar a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: darkgrey;
}

/* .active {
  background-color: whitesmoke;
} */

.logo-wrap {
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 550px;
}

ul {
  list-style-type: none;
}

ul#horizontal-list li {
  display: inline;
}

.post {
  overflow: hidden;
}

.t1 {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 25%;
  max-width: 60px;
  height: 60px;
  transform: translateZ(0);
  border-radius: 3px;
  padding-right: 20px;
  opacity: 1;
	filter: alpha(opacity=100);
}

.t1:hover
{
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.t2 {
  width: 100%;
  height: 150px;
  opacity: 1;
	filter: alpha(opacity=100);
}

.t2:hover{
  opacity: 0.3;
	filter: alpha(opacity=10);
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  display: table-cell;
  width: 20%;
  margin-left: 15px;
}

/* Center column */
.centercolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}

/* Center column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .column {
    float: left;
    width: 31%;
    padding: 10px;
    height: 30px; /* Should be removed. Only for demonstration */
  }

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  /* box-shadow: 5px 5px lightgrey; */
}

.cardlong {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  /* box-shadow: 5px 5px lightgrey; */
}

.cardfooter {
  margin: 600px;
  background-color: black;
  border-radius: 5px;
  color: white;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  text-align: right;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  padding-bottom: 10px;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(127, 133, 130);
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid black;
  background:black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.comment_box {
  /* Cosmetic */
  margin-left: 30px;
  margin-top: 10px;

  border-radius: 7px;
  border-color: #BABABA;
  box-shadow: 1px 5px 2px #EDEDED;    
  height: 130px;
  width: 85%; /* Was 470px */

  /* Text */
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #7A7A7A;

  padding: 10px;    
}

.comment_box:focus {
  outline: none;
  border-color: #7AB0E6
}

.input_box {
  /* Cosmetic */
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 7px;
  height: 10px;
  width: 40%; /* Was 470px */

  /* Text */
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #7A7A7A;

  padding: 10px;    
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
  align-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: black;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding-top: 30px;
  padding-bottom: 140px;
  text-align: center;
  background-color: black;
  margin-top: 20px;
  color: white;
  font-size: 12px;
}
